hr.dotted {
    border-style: dashed;
    margin: 2rem 0;
}

.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-brand img {
    width: 180px;
    height: 40px;
}

.navbar-inverse {
    font-size: 16px;
}

/*.page-header{
    margin: 20px;
}*/
