html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: transparent;
  padding-top: ;
}

.footer > .container {
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.footer-logo img {
    width: 180px;
    height: 40px;
}

.social-btn-footer{
    position: relative;
}
