{% load staticfiles %}
{% load cms_tags sekizai_tags menu_tags%}
<html>
   <head>
      <title>{% page_attribute "page_title" %}</title>
      {% render_block "css" %}
   </head>
   <body>
      {% addtoblock "css" %}
         <!-- Tether -->
         <link href="{% static 'css/tether/tether.css' %}" rel="stylesheet" type="text/css">

         <!-- Bootstrap -->
         <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

         <!-- Font Awesom -->
         <link href="{% static 'css/font_awesome/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
         
         <!-- Common -->
         <link rel="stylesheet" type="text/css" href="{% static 'css/common/common.css' %}">
      {% endaddtoblock %}

      {% cms_toolbar %}

      <div class="container">
         {% block content %}
            {% block navbar %}
               {% include 'common/_navbar_common.html' %}
            {% endblock  %}
            <div class="row">
               {% block header_content %}
               {% endblock  %}
            </div>
            
            <div class="row">
               {% block main_content %}
                  {% block breadcrumb %}
                  {% endblock  %}

               {% endblock  %}
            </div>
         {% endblock %}
      </div>

      {% block footer %}
         {% include 'common/_footer.html' %}
      {% endblock  %}

      {% addtoblock "js" %}
         <!-- jQuery -->
         <script src="{% static 'js/lib/jquery.min.js' %}"></script>
         <!-- Tether -->
         <script src="{% static 'js/lib/tether.min.js' %}"></script>
         <!-- Bootrstrap -->
         <script src="{% static 'js/lib/bootstrap.min.js' %}"></script>

         <!-- Recaptcha -->
         <!-- <script src='https://www.google.com/recaptcha/api.js'></script > -->
      {% endaddtoblock %}
      
      {% block js %}
      {% endblock %}
      {% render_block "js" %}
   </body>
</html>
