{% load staticfiles %}
{% load cms_tags sekizai_tags %}
<html>
   <head>
      <title>{% page_attribute "page_title" %}</title>
      {% render_block "css" %}
   </head>
   <body>
      {% addtoblock "css" %}
         <!-- Bootstrap -->
         <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
      {% endaddtoblock %}

      {% cms_toolbar %}

      <header id="header">
         {% block header %}
            {% include 'common/navbar.html' %}
         {% endblock %}
      </header><!-- /header -->

      <div class="container">
         {% block base_content %}
         {% endblock %}
      </div>
      <footer class="footer">
         {% block footer %}
            {% include 'common/footer.html' %}
         {% endblock %}
      </footer>


      {% addtoblock "js" %}
         <!-- jQuery -->
         <script src="{% static 'js/lib/jquery.min.js' %}"></script>
         <!-- Bootrstrap -->
         <script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
      {% endaddtoblock %}
      {% block js %}
      {% endblock %}
      {% render_block "js" %}
   </body>
</html>
