{% load staticfiles %}
{% load cms_tags sekizai_tags %}
<html>
   <head>
      <title>{% page_attribute "page_title" %}</title>
      {% render_block "css" %}
   </head>
   <body>
      {% addtoblock "css" %}
         <!-- Bootstrap -->
         <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

         <!-- Font Awesom -->
         <link href="{% static 'css/font_awesome/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
      {% endaddtoblock %}

      {% cms_toolbar %}

      <header id="header">
         {% block header %}
         {% endblock %}
      </header><!-- /header -->

      <div class="container">
         {% block base_content %}
         {% endblock %}
      </div>

      {% block footer %}
         {% include 'common/_footer.html' %}
      {% endblock %}


      {% addtoblock "js" %}
         <!-- jQuery -->
         <script src="{% static 'js/lib/jquery.min.js' %}"></script>
         <!-- Bootrstrap -->
         <script src="{% static 'js/lib/bootstrap.min.js' %}"></script>

         <!-- Recaptcha -->
         <script src='https://www.google.com/recaptcha/api.js'></script >
      {% endaddtoblock %}
      {% block js %}
      {% endblock %}
      {% render_block "js" %}
   </body>
</html>
