{% extends 'common/base.html' %}
{% block title %} FAQ {% endblock %}

{% block content %}
<div class="row">
   <div class="col-md-10">
      <div class="page-header">
         <h1> FAQ </h1>
      </div>
      <p class="lead"> Estas son algunas de las preguntas que nos soléis preguntar, esperemos os sirva de ayuda. </p>
   </div>
</div>

<div class="row">
   <div class="col-md-10">
      <ul class="nav nav-tabs">
         <li role="presentation" class="active" >
            <a href="#sobreNepal" aria-controls="sobreNepal" role="tab" data-toggle="tab"> Sobre Nepal </a>
         </li>
         <li class="presentation">
            <a href="#sobreHugging" aria-controls="sobreHugging" role="tab" data-toggle="tab"> Sobre Hugging Nepal </a>
         </li>
      </ul>
      <div class="tab-content" id="faq-tabs">
         
         <div class="tab-pane fade in active" id="sobreNepal" aria-labelledby="sobreNepal-tab" role="tabpanel">
            <h2>Sobre Nepal</h2>

            <h4>¿Qué documentos son necesarios para viajar a Nepal?</h4>
            <p class="text-justify">
               Para viajar a Nepal es necesario tener el <strong>pasaporte en regla con una validez de mínimo 6 meses</strong>, como también tramitar el <strong>visado</strong>de turista. Hay dos formas para obtener el visado. La primera es  enviar la documentación necesaria a la embajada o consulado de Nepal en tu país, en España puedes tramitarlo en Barcelona<a href="http://consuladodenepal.org/"> http://consuladodenepal.org/</a>. La segunda opción es tramitar el visado a la llegada a Nepal, o bien en la aduana del aeropuerto Tribhuvan de Katmandú o en cualquiera de los pasos fronterizos si entras por tierra. Hay tres visados de distinta duración:
            </p>
            <p class="text-justify">
               <ul class="no-bullet">
                  <li> 15 días 25 $ </li>
                  <li> 30 días 40 $ </li>
                  <li> 90 días 100 $ </li>
               </ul>
            </p>
            <p class="text-justify">
               En el caso que quieras extender tu visado de turista una vez finalizados los 90 días, puedes hacerlo por 60 días más en la oficina de inmigración de Kathmandu <a href="http://www.nepalimmigration.gov.np/"> http://www.nepalimmigration.gov.np/</a>.
            </p>
            <hr>
            
            <h4>¿Cuanto tiempo me puedo quedar en Nepal?</h4>
            <p class="text-justify">
               La estancia máxima con visado turista en Nepal es de <strong>150 días por año</strong> natural (De Enero a Diciembre).
            </p>
            <hr>
            
            <h4>¿Qué clima y qué zona horaria tiene Nepal?</h4>
            <p class="text-justify">
               Nepal tiene una geografía muy particular y variada, con una altitud que varía entre los 200 y los más de 8000 msn, por lo que el clima es igualmente variable dependiendo de la zona y de la época del año. Se contemplan solo dos estaciones, la estación seca que va de octubre a mayo (siendo diciembre, enero y febrero los meses más fríos), y la estación húmeda (monzón), de junio a septiembre, auque llueve mucho las temperaturas son propias de latitudes bajas.
            </p>
            <p class="text-justify">
               Para más información podéis visitar <a href="http://www.nepaltourism.info/nepal_information/climate.html"> http://www.nepaltourism.info/nepal_inforrmation/climate.html</a>.
            </p>
            <p class="text-justify">
               La zona horaria de Nepal es GMT+5:45.
            </p>
            <hr>
            
            <h4>¿Qué lengua se habla en Nepal?</h4>
            <p class="text-justify">
               Nepal es un país multicultural y multilingüe ya que son muchas las culturas y las distintas  lenguas que conviven en Nepal. El <strong>Nepalí es la lengua nacional del país</strong> y se escribe con el alfabeto devanagari. En la ciudad y en las zonas turísticas la mayoría de la gente habla inglés, en los pueblos y en las zonas más remotas el inglés es escaso y no está de más saber algunas palabras en nepalí.
            </p>
            <hr>

            <h4>¿Qué religión hay en Nepal?</h4>
            <p class="text-justify">
               En Nepal el 80 % de las personas son <strong>Hinduistas,</strong> seguidos por un 10 % de <strong>Budistas</strong>. El porcentaje restante se divide en otras religiones.  Las distintas religiones conviven en armonía  compartiendo algunos de los festivales y lugares sagrados sin ningún problema.
            </p>
            <hr>

            <h4>Cultura y tradiciones.</h4>
            <p class="text-justify">
               Es un país con un gran carácter cultural y donde sus tradiciones perduran a lo largo de los años. La sociedad de Nepal está regida por la jerarquía del  <strong>sistema de castas</strong>, este  determina muchos aspectos culturales y sociales de los nepaleses.
            </p>
            <p class="text-justify">
               Para más información podéis visitar el siguiente enlace donde se explica de forma resumida el sistema de castas en Nepal:<a href="http://www.nepaltourism.info/nepal_information/people.html"> http://www.nepaltourism.info/nepal_information/people.html</a>
            </p>
            <p class="text-justify">
               Son muchas las celebraciones y festivales de carácter religioso que se celebran en el país, el más importante es el Dhasain, que normalmente, dependiendo del calendario lunar, se celebra de mediados de Octubre a mediados de Noviembre.
            </p>
            <p class="text-justify">
               Para más información:<a href="http://www.nepaltourism.info/nepal_information/festival.html"> http://www.nepaltourism.info/nepal_information/festival.html</a>
            </p>
            <hr>
            
            <h4>¿Qué moneda se usa en Nepal? ¿Puedo usar mi tarjeta de crédito/débito?</h4>
            <p class="text-justify">
               La <strong>rupia nepalí (NPR)</strong> es la moneda del país.
               <br>
               Para saber la equivalencia de la moneda de tu país con la NPR puedes visitar:<a href="http://themoneyconverter.com/ES/EUR/NPR.aspx"> http://themoneyconverter.com/ES/EUR/NPR.aspx</a>
            </p>
            <p class="text-justify">
               En  Nepal encontrarás multitud de cajeros automáticos para sacar dinero con tu tarjeta de crédito/débito.Te recomendamos que antes de viajar compruebes las posibles comisiones que cobran los bancos.
            </p>
            
            <h4>¿Es necesario vacunarse antes de ir a Nepal?</h4>
            <p class="text-justify">
               Para viajar a Nepal no se exige ninguna vacuna si vienes de Europa, pero siempre es recomendable visitar tu <strong>Centro de Vacunación Internacional</strong> más cercano para que te informen y asesoren sobre las vacunas recomendadas para cada país.
            </p>
            <p class="text-justify">
               Para más información puedes visitar: <a href="http://www.msssi.gob.es/sanitarios/consejos/vacExt.do">http://www.msssi.gob.es/sanitarios/consejos/vacExt.do</a>
            </p>
            <hr>

            <h4>¿Es fácil moverse en transporte público en Nepal?</h4>
            <p class="text-justify">
               <strong>Sí</strong>, en Nepal el transporte público es el medio más frecuente entre los locales pero también por los turistas. Puedes escoger entre moverte con Rickshaw, Tuc tuc, furgoneta o autobús urbano, para trayectos cortos y dentro de la ciudad. Para ir a ciudades cercanas puedes moverte en autobuses locales, turísticos o furgonetas. Los taxis son numerosos dentro de las ciudades y se puede acordar el precio.
            </p>
            <hr>
            
            <h4>¿Nepal es un país seguro?</h4>
            <p class="text-justify">
               <strong>Si</strong>, como en cualquier lugar del mundo tienes que  tomar precauciones y usar el sentido común, pero Nepal en general es un país seguro.
            </p>
            <p class="text-justify">
               Para más información puedes visitar:<a href="http://www.lonelyplanet.es/destino-asia-nepal-80-informacion-practica.html"> http://www.lonelyplanet.es/destino-asia-nepal-80-informacion-practica.html</a>
            </p>
            <hr>

            <h4>¿Necesito un seguro de viaje o médico para Nepal?</h4>
            <p class="text-justify"> 
               Se <strong>recomienda</strong> viajar con un <strong>seguro médico y de viaje</strong>.
            </p>
            <p class="text-justify">
               Para más información :<a href="http://www.lonelyplanet.es/destino-asia-nepal-80-informacion-practica.html"> http://www.lonelyplanet.es/destino-asia-nepal-80-informacion-practica.html</a>
            </p>
            <hr>

            <h4> ¿Es fácil encontrar alojamiento en Nepal?</h4>
            <p class="text-justify">
               <strong>Sí</strong>, hay tres zonas conocidas donde encontrar alojamiento.
            </p>
            <p class="text-justify">
               El Barrio de <strong>Thamel</strong>, es el punto neurálgico de los turistas puedes encontrar numerosos hoteles y guest houses a la necesidad de tu bolsillo. Hay una amplia variedad de tiendas, restaurantes y bares con música en directo.  Otra opción donde alojarse es la zona de <strong>Boudhanath</strong>, un barrio tibetano que está apartado del centro de la ciudad, pero en el que se goza de gran tranquilidad. Por último está <strong><i>Freak Street</i></strong> , en la zona vieja de la ciudad, cerca de la conocida Durbar Scuare, allí también podrás encontrar variedad de alojamientos.
            </p>
            <hr>
            
            <h4>¿Qué tipo de comida puedo encontrar en Nepal? </h4>
            <p class="text-justify">
               El plato más típico de Nepal es el <strong>Dhal Bhat</strong>, los nepaleses lo comen dos veces al día. Consta de arroz, verduras y sopa de lentejas. También son típicos los momos (empanadillas rellenas de carne o verduras) y los noodles.
            </p>
            <p class="text-justify">
               En las zonas turísticas encontrarás variedad de comida occidental. Una vez salgas a las montañas o a pueblos más alejados, el Dhal Bhat será  la comida por excelencia.
            </p>
         </div>
         <div class="tab-pane" id="sobreHugging" aria-labelledby="sobreHugging-tab" role="tabpanel">
            <h1>Hugging Nepal</h1>
            <h4>¿Dónde van las donaciones hechas a Hugging Nepal?</h4>
            <p class="text-justify">
               Todas las aportaciones que recibimos van <strong>íntegramente destinadas a los distintos proyectos</strong> en los que trabajamos. Desde Hugging Nepal se trata de estimular la economía del país, comprando todos los materiales necesarios en los comercios locales, alimentando a su vez la economía local.<strong> Nunca se ofrece dinero directo a los afectados,</strong> sino que se transforma en bienes necesarios para los beneficiados.
            </p>
            <hr>
            
            <h4>¿Cómo puedo saber si el dinero que he mandado ha llegado y se ha invertido en los proyectos?</h4>
            <p class="text-justify">
            Hugging Nepal trabaja de forma <strong>transparente</strong>, por esta razón se lleva a cabo un <strong>estado de cuentas</strong> con todos los ingresos y los costes. Cada semestre se cuelga en la web <a href="http://www.huggingnepal.org/">www.huggingnepal.org</a>  el balance económico de los últimos meses.
            </p>
            <hr>

            <h4>¿Donde se encuentra el equipo de Hugging en Nepal?</h4>
            <p class="text-justify">
            El equipo de Hugging Nepal se encuentra principalmente en <strong>Kathmandu.</strong>  Para contactar con nosotros es imprescindible enviar un correo a <a href="mailto:huggingnepal@gmail.com">huggingnepal@gmail.com</a>
            </p>
            <hr>
            
            <h4>¿Hugging Nepal necesita siempre voluntarios?</h4>
            <p class="text-justify">
               <strong>No exactamente</strong>, en Hugging Nepal no siempre estamos trabajando en proyectos donde se necesitan voluntarios de forma regular. Cuando tenemos un proyecto determinado y estudiamos las necesidades, hacemos el llamamiento a los voluntarios.  Por esta razón, si quieres venir como voluntario, es importante ponerse en contacto con nosotros para poder informarte de qué proyectos tenemos en ese momento y si se ajustan a tus posibilidades.
            </p>
            <p class="text-justify">
               Puedes escribir a <a href="mailto:huggingnepal@gmail.com">huggingnepal@gmail.com</a>
            </p>
            <hr>
            
            <h4> ¿Cuánto tiempo puedo venir a colaborar con vosotros?</h4>
            <p class="text-justify">
            Depende del proyecto, pero normalmente pedimos una disponibilidad completa de mínimo <strong>1 mes. </strong>
            </p>
            <hr>
            
            <h4> ¿Necesito un seguro médico y de viaje para poder ser voluntario de Hugging?</h4>
            <p class="text-justify">
               <strong>Sí </strong>, desde la organización pedimos a todos los voluntarios que tengan un <strong>seguro médico y de viaje para poder trabajar con nosotros.</strong>
            </p>
            <hr>
            
            <h4>¿Hay proyectos permanentes donde colaborar?</h4>
            <p class="text-justify">   
               <strong>No, </strong>actualmente no tenemos ningún proyecto permanente. Hasta el momento todos nuestros proyectos se contemplan en términos a medio plazo.
            </p>
            <hr>

            <h4>¿Puedo aportar ideas e iniciativas?</h4>
            <p class="text-justify">
               Por supuesto que <strong>sí</strong>, en Hugging Nepal todos/as tenemos voz y voto. Estamos abiertos a escuchar a todo el mundo, por lo que cualquier iniciativa<strong>, por viable y coherente</strong> que sea,  siempre será bien recibida.
            </p>
            <hr>

            <h4>¿Tengo que trabajar solo?</h4>
            <p class="text-justify">
               <strong>No</strong>, en Hugging Nepal siempre se <strong>trabaja en equipo</strong> y cada persona tiene asumidas sus tareas y responsabilidades en los distintos proyectos.
            </p>
            <hr>
            
            <h4> ¿Hugging Nepal proporciona alojamiento?</h4>
            <p class="text-justify">
               <strong>No</strong>, no tenemos ningún centro para voluntarios. Cuando se está trabajando en Kathmandu <strong>cada persona es responsable de asumir los gastos propios de alojamiento y comida</strong>. Sin embargo, <strong>siempre que se tenga que hacer una salida fuera de Kathmandu</strong> para realizar algún proyecto<strong>, Hugging Nepal se hace cargo</strong> del  transporte, alojamiento y la comida de los miembros que se desplacen.
            </p>
            <hr>

            <h4>¿Se costea alguna parte del viaje a los voluntarios?</h4>
            <p class="text-justify">
               <strong>No, </strong>las donaciones de Hugging Nepal van íntegramente destinadas a los proyectos y a los gastos que generan los mismos. Los billetes de avión, visado, alojamiento y comida, seguros ...<strong>corren a cargo de los voluntarios. Salvo el transporte, alojamiento y comida en las salidas a proyectos fuera de Kathmandu.</strong>
            </p>
         </div>
      </div>
   </div>
</div>

{% endblock content %}