{% extends "common/base.html" %}
{% load cms_tags %}
{% load menu_tags %}

{% block base_content %} 
   <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> Hugging Nepal </a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
               {% show_menu 0 0 %}
            </ul>   
         </div>
      </div>
   </nav>

   {% show_breadcrumb %}
   
   <div class="row">
      <div class="col-md-12">
         <div class="jumbotron">
            {% placeholder template_1_content %}      
         </div>
      </div>
      
   </div>

{% endblock %}
