.navbar-inverse {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    transition: all 0.5s ease-in-out 0s;
}
.navbar-inverse .navbar-nav li a {
    color: #f1f1f1;
}
.navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav li a.active {
    background: transparent none repeat scroll 0 0;
    font-weight: bold;
}